
.Edit-Website {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
   background-color: #2d3194;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 60%;
    border-radius: 40px;
    margin-left: 100px;
    line-height: 40px;
    background-color: #ffffff;
}

.back-button {
    font-size: 1.2rem;
    align-self: flex-start;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    padding: 20px 10px;
    border-radius:40px;
    background-color:#ffffff;
}

.textbox input {
    border: 2px solid #000; /* Adds a 2px solid black border */
    padding: 8px; /* Optional: adds some padding inside the input for better appearance */
    border-radius: 4px; /* Optional: adds a slight rounding to the corners */
}

.w3-button{
    margin-top: 20px;
}

.w3-border {
    width: 100%; /* Maintain full width */
    padding: 10px; /* Padding for better readability */
    font-family: inherit;
    font-size: inherit;
    resize: vertical; /* Allow manual resizing if desired */
    max-height: 200px; /* Limit height before scroll bar appears */
    overflow-y: auto; /* Add vertical scroll bar when content overflows */
    line-height: 1.5; /* Ensure proper line spacing */
}
