.split-section{
    margin-top: 0px;
    display: flex;
    justify-content: space-between; /* Adds space between left and right boxes */
    align-items: stretch;
    height: 50vh; /* Adjust height as needed */
}

.racksRight {
    color: #2D3194; /* Adjust text color if needed for readability */
    text-align: center;
    min-height: 95vh;
    width: 45vw;          /* Adjust width to control horizontal coverage */
    margin-right: 100px;    /* Aligns it to the right */
    flex-direction: column;
    justify-content: center; 
}

.racksRight h1{
    font-size: 100px;
    background-color: #FFD401;
}

.racksRight p{
    font-size: 30px;
    line-height: 70px;
}

.racksLeft {
    flex: 1;
    background-image: url('../images/racks.jpg');
    background-repeat: no-repeat;    /* Prevents the image from repeating */
    background-position: center;     /* Centers the image within the container */
    background-size: 75% 44rem;          /* Ensures the image covers the entire container */
    height: 38.68rem;
}

.bar h1{
    font-size: 80px;
    background-color: #FFD401;
    color: #2D3194;
    text-align: center;
    margin-top: 190px;
    margin-bottom: 0px;
}

.racksRight button {
    width: 5rem;
    height: 5rem;
    border: solid #2D3194;
    border-width: 0 7.5px 7.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: transparent; /* Ensure transparency */
    margin-top: -30px;
    cursor: pointer; /* Add pointer cursor for better UX */
}

.racksRight button:hover {
    border-color: #FFD401; /* Change only the border color on hover */
    background-color: transparent; /* Keep the background transparent */
}


.homepageRight button:hover{
    background-color: #FFD401; 
    border-color: #FFD401;
    width: 5rem;
    height: 5rem;
    border: solid #FFD401;
    border-width: 0 7.5px 7.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0);
    margin-top: 10%;
    transition: 0.1s;
}

.visual {
    display: flex;
    justify-content: space-between; /* Space out the three sections evenly */
    align-items: flex-start; /* Ensure horizontal alignment along the center */
    height: 80vh; /* Height adjustment for uniform vertical sizing */
}

.visual .left, .visual .middle, .visual .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content vertically at the top of each section */
    align-items: center; /* Center align content horizontally within the section */
    text-align: center;
    padding: 0;
}

.left, .right{
    width: 25%; /* Adjust width for more spacing */
}

.left h1, .right h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #2D3194
}

.left p{
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 0;
    padding: 35px;
    color: #2D3194
}

.right p {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 20px;
    color: #2D3194
}

.middle {
    width: 100%; /* Width for the middle section */
}

.middle img {
    width: 100%;
    max-height: fit-content;
    object-fit: contain;
}

